h1 Cadastrar categoria
form(action="/categorias", method="POST")
  .form-group
    label(for="nome") Nome da categoria
    input#nome.form-control(type="text", name="nome", required)
  button.btn.btn-primary(type="submit") Cadastrar
