h1 Editar usuário
form(action="/users/" + user.id + "?_method=PUT", method="POST")
  .form-group
    label(for="username") Username
    input#username.form-control(type="text", name="username", value=user.username, required)
  .form-group
    label(for="password") Password
    input#password.form-control(type="password", name="password", value=user.password, required)
  .form-group
    label(for="role") Role
    select#role.form-control(name="role", required)
      // Em Pug, a lógica condicional para 'selected' é simplificada:
      // O atributo 'selected' é adicionado se a condição for verdadeira.
      option(value="admin", selected=user.role === 'admin') Admin
      option(value="user", selected=user.role === 'user') User
  button.btn.btn-warning(type="submit") Salvar
